
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-dollar"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Today's Jobs</h5>
                            <h1 class="mt5">50</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">150</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">300</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-users"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Job in Progress</h5>
                            <h1 class="mt5">10</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">15</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin"> {{userName()}} </h4>
                                
                                
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-pencil"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Failed job</h5>
                            <h1 class="mt5">300</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">350</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">60</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
